## Build outputs
/bin/
/obj/

## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

## NuGet
*.nupkg
*.snupkg
*.nuspec
packages/
project.lock.json
project.fragment.lock.json
artifacts/

## Logs
*.log
*.svclog
*.scc

## Test results
TestResults/
*.trx
*.coverage
*.coveragexml

## Rider / JetBrains
.idea/
*.sln.iml

## OS generated
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.DS_Store

CapsShow setup.exe
